WakeUpNow.xcodeproj/project.xcworkspace/xcuserdata/chandanshettysp.xcuserdatad/WorkspaceSettings.xcsettings
WakeUpNow.xcodeproj/xcuserdata/chandanshettysp.xcuserdatad/xcschemes/WakeUpNow.xcscheme
WakeUpNow.xcodeproj/xcuserdata/chandanshettysp.xcuserdatad/xcschemes/xcschememanagement.plist
WakeMeUp.xcodeproj/project.xcworkspace/xcuserdata/chandanshettysp.xcuserdatad/WorkspaceSettings.xcsettings
WakeMeUp.xcodeproj/xcuserdata/chandanshettysp.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
WakeMeUp.xcodeproj/xcuserdata/chandanshettysp.xcuserdatad/xcschemes/WakeUpNow.xcscheme
WakeMeUp.xcodeproj/xcuserdata/chandanshettysp.xcuserdatad/xcschemes/xcschememanagement.plist
wakemeup/wakemeup.xcodeproj/xcuserdata/chandanshettysp.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
wakemeup/wakemeup.xcodeproj/xcuserdata/chandanshettysp.xcuserdatad/xcschemes/wakemeup.xcscheme
wakemeup/wakemeup.xcodeproj/xcuserdata/chandanshettysp.xcuserdatad/xcschemes/xcschememanagement.plist
