.DS_Store
WakeUpNow.xcodeproj/project.xcworkspace/xcshareddata/WakeUpNow.xccheckout
WakeUpNow.xcodeproj/project.xcworkspace/xcuserdata/chandanshettysp.xcuserdatad/UserInterfaceState.xcuserstate
WakeUpNow.xcodeproj/xcuserdata/chandanshettysp.xcuserdatad/xcschemes/WakeUpNow.xcscheme
WakeUpNow.xcodeproj/xcuserdata/chandanshettysp.xcuserdatad/xcschemes/xcschememanagement.plist
