WakeUpNow.xcodeproj/project.xcworkspace/xcuserdata/chandanshettysp.xcuserdatad/WorkspaceSettings.xcsettings
WakeUpNow.xcodeproj/xcuserdata/chandanshettysp.xcuserdatad/xcschemes/WakeUpNow.xcscheme
WakeUpNow.xcodeproj/xcuserdata/chandanshettysp.xcuserdatad/xcschemes/xcschememanagement.plist
