<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>grid_size</key>
	<string>{12,6}</string>
	<key>cell_size</key>
	<string>{40,40}</string>
	<key>noOfLevels</key>
	<integer>30</integer>
	<key>levels</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>elements</key>
			<array>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{5,2}</string>
				</dict>
			</array>
			<key>tutorial</key>
			<string>Swipe on the white box to start!</string>
		</dict>
		<key>level2</key>
		<dict>
			<key>elements</key>
			<array>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{5,1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{5,4}</string>
				</dict>
			</array>
			<key>tutorial</key>
			<string>Move the box into the hole by swiping!</string>
		</dict>
		<key>level3</key>
		<dict>
			<key>elements</key>
			<array>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{3, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{5, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{7, 4}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{5, 4}</string>
				</dict>
			</array>
			<key>tutorial</key>
			<string>Great! Fill both the holes now</string>
		</dict>
		<key>level4</key>
		<dict>
			<key>elements</key>
			<array>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{4, 4}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{4, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{2, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{6, 2}</string>
				</dict>
			</array>
			<key>tutorial</key>
			<string>Don&apos;t miss the order! tap Restart if you miss the order</string>
		</dict>
		<key>level5</key>
		<dict>
			<key>elements</key>
			<array>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{2, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{5, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{6, 3}</string>
				</dict>
			</array>
			<key>tutorial</key>
			<string>Use RED bricks as a wall to fill the hole!</string>
		</dict>
		<key>level6</key>
		<dict>
			<key>elements</key>
			<array>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{4, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{2, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{7, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{4, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{6, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{4, 4}</string>
				</dict>
			</array>
			<key>tutorial</key>
			<string>Awesome! You are good to Go and keep an eye on Moves!</string>
		</dict>
		<key>level7</key>
		<dict>
			<key>elements</key>
			<array>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{2, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{6, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{6, 4}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{1, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{5, 4}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{4, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{7, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{5, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{1, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{4, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{2, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{7, 3}</string>
				</dict>
			</array>
		</dict>
		<key>level8</key>
		<dict>
			<key>elements</key>
			<array>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{1, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{5, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{6, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{4, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{2, 4}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{2, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{2, 0}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{2, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{4, 4}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{5, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{7, 4}</string>
				</dict>
			</array>
		</dict>
		<key>level9</key>
		<dict>
			<key>elements</key>
			<array>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{4, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{8, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{9, 4}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{3, 5}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{4, 0}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{2, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{3, 0}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{4, 4}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{5, 2}</string>
				</dict>
			</array>
		</dict>
		<key>level10</key>
		<dict>
			<key>elements</key>
			<array>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{7, 5}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{7, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{8, 4}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{3, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{5, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{6, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{3, 5}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{1, 4}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{3, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{4, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{1, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{2, 4}</string>
				</dict>
			</array>
		</dict>
		<key>level11</key>
		<dict>
			<key>elements</key>
			<array>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{5, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{6, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{6, 5}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{1, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{4, 4}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{3, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{2, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{6, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{9, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{7, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{1, 4}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{3, 1}</string>
				</dict>
			</array>
		</dict>
		<key>level12</key>
		<dict>
			<key>elements</key>
			<array>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{10, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{6, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{7, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{7, 5}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{8, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{5, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{4, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{2, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{10, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{11, 5}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{2, 4}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{3, 1}</string>
				</dict>
			</array>
		</dict>
		<key>level13</key>
		<dict>
			<key>elements</key>
			<array>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{5, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{6, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{7, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{3, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{7, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{1, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{2, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{4, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{9, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{10, 4}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{4, 5}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{5, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{3, 3}</string>
				</dict>
			</array>
		</dict>
		<key>level14</key>
		<dict>
			<key>elements</key>
			<array>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{4, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{6, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{7, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{2, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{5, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{1, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{1, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{4, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{9, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{10, 4}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{4, 5}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{2, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{0, 4}</string>
				</dict>
			</array>
		</dict>
		<key>level15</key>
		<dict>
			<key>elements</key>
			<array>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{1, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{9, 4}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{8, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{4, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{0, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{0, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{1, 4}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{3, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{7, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{7, 5}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{4, 4}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{3, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{0, 5}</string>
				</dict>
			</array>
		</dict>
		<key>level16</key>
		<dict>
			<key>elements</key>
			<array>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{5, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{3, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{8, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{1, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{0, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{3, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{1, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{4, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{4, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{7, 5}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{0, 4}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{2, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{1, 1}</string>
				</dict>
			</array>
		</dict>
		<key>level17</key>
		<dict>
			<key>elements</key>
			<array>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{3, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{4, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{5, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{2, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{3, 4}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{3, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{8, 4}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{8, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{8, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{7, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{2, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{4, 4}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{6, 1}</string>
				</dict>
			</array>
		</dict>
		<key>level18</key>
		<dict>
			<key>elements</key>
			<array>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{3, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{7, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{4, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{0, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{3, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{5, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{3, 4}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{10, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{5, 4}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{10, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{0, 4}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{1, 0}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{5, 5}</string>
				</dict>
			</array>
		</dict>
		<key>level19</key>
		<dict>
			<key>elements</key>
			<array>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{4, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{7, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{1, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{0, 0}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{5, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{2, 0}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{3, 4}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{8, 0}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{1, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{9, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{0, 4}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{3, 0}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{8, 4}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{2, 3}</string>
				</dict>
			</array>
		</dict>
		<key>level20</key>
		<dict>
			<key>elements</key>
			<array>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{7, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{9, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{1, 5}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{2, 0}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{5, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{3, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{10, 4}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{10, 0}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{0, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{10, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{0, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{3, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{8, 0}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{6, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{2, 3}</string>
				</dict>
			</array>
		</dict>
		<key>level21</key>
		<dict>
			<key>elements</key>
			<array>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{10, 4}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{8, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{1, 5}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{0, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{3, 5}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{8, 5}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{5, 4}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{4, 0}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{5, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{8, 0}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{0, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{4, 4}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{8, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{10, 0}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{6, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{2, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{5, 5}</string>
				</dict>
			</array>
		</dict>
		<key>level22</key>
		<dict>
			<key>elements</key>
			<array>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{10, 4}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{7, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{1, 5}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{0, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{3, 5}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{8, 5}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{5, 4}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{4, 0}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{5, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{7, 0}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{0, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{4, 4}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{8, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{10, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{6, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{2, 2}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{5, 5}</string>
				</dict>
			</array>
			<key>tutorial</key>
			<string>In Progress!</string>
		</dict>
		<key>level23</key>
		<dict>
			<key>elements</key>
			<array>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{2, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{5, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{6, 3}</string>
				</dict>
			</array>
			<key>tutorial</key>
			<string>In Progress!</string>
		</dict>
		<key>level24</key>
		<dict>
			<key>elements</key>
			<array>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{2, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{5, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{6, 3}</string>
				</dict>
			</array>
			<key>tutorial</key>
			<string>In Progress!</string>
		</dict>
		<key>level25</key>
		<dict>
			<key>elements</key>
			<array>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{2, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{5, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{6, 3}</string>
				</dict>
			</array>
			<key>tutorial</key>
			<string>In Progress!</string>
		</dict>
		<key>level26</key>
		<dict>
			<key>elements</key>
			<array>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{2, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{5, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{6, 3}</string>
				</dict>
			</array>
			<key>tutorial</key>
			<string>In Progress!</string>
		</dict>
		<key>level27</key>
		<dict>
			<key>elements</key>
			<array>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{2, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{5, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{6, 3}</string>
				</dict>
			</array>
			<key>tutorial</key>
			<string>In Progress!</string>
		</dict>
		<key>level28</key>
		<dict>
			<key>elements</key>
			<array>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{2, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{5, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{6, 3}</string>
				</dict>
			</array>
			<key>tutorial</key>
			<string>In Progress!</string>
		</dict>
		<key>level29</key>
		<dict>
			<key>elements</key>
			<array>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{2, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{5, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{6, 3}</string>
				</dict>
			</array>
			<key>tutorial</key>
			<string>In Progress!</string>
		</dict>
		<key>level30</key>
		<dict>
			<key>elements</key>
			<array>
				<dict>
					<key>class</key>
					<string>WUNPuck</string>
					<key>position</key>
					<string>{2, 3}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNHole</string>
					<key>position</key>
					<string>{5, 1}</string>
				</dict>
				<dict>
					<key>class</key>
					<string>WUNBlock</string>
					<key>position</key>
					<string>{6, 3}</string>
				</dict>
			</array>
			<key>tutorial</key>
			<string>In Progress!</string>
		</dict>
	</dict>
</dict>
</plist>
